name: Deploy to AWS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew :application:shadowJar -x test

      - name: Copy files to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          source: "application/build/libs/*-all.jar,Dockerfile"
          target: "/home/${{ secrets.USERNAME }}/app"
          strip_components: 0

      - name: Deploy on EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            cd ~/app
            mv application/build/libs/*-all.jar app.jar
            
            sudo docker stop my-bot || true
            sudo docker rm my-bot || true
            
            sudo docker rmi trading-bot || true
            
            sudo docker build -t trading-bot .
            
            sudo docker run -d --name my-bot -p 80:8080 --env-file .env --restart always trading-bot